.all_login_modal {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* .leftPane {
    background-color: #d32f2f;
    height: 100%;
    padding: 20px;
  }
  
  .rightPane {
    padding: 20px;
  }
  
  .image {
    width: 100%;
    border-radius: 10px;
  }
  
  .brandName {
    color: #d32f2f;
  } */
  